@media  (max-width: 900px) {
    .hide-mob {
        display: none;
    }

    .container {
        width: 90%;
    }


    header .container {
        flex-direction: row-reverse;
    }


    .hamburger {
        display: block;
    }









    .details .my-img img {
        width: 190px;
    }

    .details h3 {
        font-size: 28px;
    }

















    footer {
        height: 65px;
        line-height: 65px;
    }
}

@media  (max-width: 530px) {
    .details {
        width: 85%;
    }
}