@media  (max-width: 1067px) {
    .soc-meds .container .accounts {
        grid-template-columns: repeat(2, 280px);
    }
}

@media  (max-width: 900px) {
    .hide-mob {
        display: none;
    }

    .container {
        width: 90%;
    }


    header .container {
        flex-direction: row-reverse;
    }


    .hamburger {
        display: block;
    }



    .banner .container h1 {
        font-size: 48px;
    }

    .banner .container h3 {
        font-size: 20px;
        line-height: 35px;
    }







    .desc .container .abt-feby {
        display: block;
    }

    .desc .container .abt-feby .feby-img img {
        width: 270px;
    }

    .desc .container .abt-feby .content {
        font-size: 15px;
        margin-top: 55px;
    }

    .desc .container .abt-feby .content .info {
        max-width: 330px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .desc .container .abt-feby .content .info img {
        width: 80px;
        height: 80px;
    }







    .soc-meds .container .accounts {
        grid-template-columns:240px;
    }

    .soc-meds .container .accounts .acct {
        height: 330px;
    }

    .soc-meds .container .accounts .acct img {
        width: 240px;
        border-bottom: 8px solid #c3b091;
    }

    .soc-meds .container .accounts .acct .is-hovered {
        width: 240px;
        height: 330px;
    }

    .soc-meds .container .accounts .acct .label {
        position: absolute;
        font-family: 'MerriBold';
        font-size: 20px;
        width: 240px;
        line-height: 330px;
    }












    footer {
        height: 65px;
        line-height: 65px;
    }
}